body {
  margin: 0;
  font-family: 'Roboto', sans-serif; }

.purple__section {
  background-color: #864F9C;
  height: 300px;
  display: flex;
  justify-content: center; }
  .purple__section__top__nav {
    background-color: #864F9C;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    top: 0;
    height: 100px;
    width: 100%; }
    .purple__section__top__nav__right {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .purple__section__top__nav__right ul li {
        display: inline-block; }
        .purple__section__top__nav__right ul li a {
          text-decoration: none;
          color: white;
          margin-right: 30px; }
    .purple__section__top__nav__left {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
  .purple__section__content {
    color: white;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .purple__section__content button {
      background-color: #EB7D4B;
      border: 0;
      padding: 10px;
      min-width: 150px;
      color: white;
      text-transform: uppercase;
      font-size: 9px;
      border-radius: 3px; }
    .purple__section__content p {
      max-width: 500px;
      text-align: center;
      line-height: 1.5em; }

